@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Source+Sans+3:wght@400;600&family=Montserrat:wght@400;700&display=swap');

/* Css Reset */
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
}
input, button, textarea, select {
    font: inherit;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
img, video, svg {
    height: auto;
    max-width: 100%;
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
    }
}
@media (prefers-reduced-motion: no-preference) {
    :root {
    scroll-behavior: smooth;
    }
}
/* End Css Reset */

:root {
    --white: #fff;
    --light-green: #98A684;
    --black: #1B1B1B;
    --grey: #3C3C3C;
    --font-serif: 'Cardo', serif;
    --font-sans: 'Source Sans 3', sans-serif;
    --font-alt: 'Montserrat', sans-serif;
}

body.page {
    font-family: var(--font-sans);
    background: var(--white);
    color: var(--black);
}

.section{
    max-height: 800px;
}

.section--amenities {
    text-align: center;
    padding: 132px 0px 86px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amenities__content {
    max-width: 1170px;
}

.amenities__subtitle {
    font-family: var(--font-alt);
    color: var(--light-green);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.35px;
}

.amenities__title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.amenities__line {
    border-top: 1px solid var(--light-green);
    flex: 1;
    width: 100%;
}

.line--left {
    transform: scaleX(0);  
    transform-origin: right; 
    animation: scaleIn 1s ease-out forwards;
}

.line--right {
    transform: scaleX(0);  
    transform-origin: left; 
    animation: scaleIn 1s ease-out forwards;
}

@keyframes scaleIn {
to {
    transform: scaleX(1); 
}
}

.amenities__title {
    font-family: var(--font-serif);
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1.29px;
    margin: 0;
}

.amenities-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amenities__list {
    font-size: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 310px 376px 325px;
    gap: 0.5rem 4rem;
    padding: 0;
    margin: 0;
}

.amenities__item {
    margin: 0.25rem 0;
}

.amenities__item::marker {
    color: var(--light-green);
}

.section--carousel {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(1) brightness(0.5);
    z-index: 0;
    transition: background-image 0.6s ease-in-out;
}

.carousel__content {
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    width: 1170px;
    height: 604px;
}

.carousel__text {
    background-color: white;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.carousel__subheadline {
    margin-bottom: 10px;
}

.carousel__title {
    margin-bottom: 20px;
    line-height: 1.1;
    max-width: 226px;
    font-family: var(--font-serif);
    font-weight: 300;
    color: var(--grey);
    font-size: 60px;
}

.carousel__description {
    line-height: 1.4;
    max-width: 359px;
    margin-bottom: 40px;
}

.carousel__nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 32px;
    bottom: 54px;
    left: 379px;
}

.carousel__arrow {
    background: transparent;
    border: none;
    cursor: pointer;
}

.arrow-icon {
    width: 58px;
    height: auto;
    stroke: var(--black);
    fill: none;
    transform: scaleX(0);
    transition: transform 0.8s ease-out;
}

.arrow-icon.right {
    transform-origin: left;
}

.arrow-icon.left {
    transform-origin: left;
    transform: rotate(180deg) scaleX(0);
}

.arrow-icon.active.right {
    transform: scaleX(1);
}

.arrow-icon.active.left {
    transform: rotate(180deg) scaleX(1);
}

.arrow-icon:hover {
    stroke: var(--light-green);
}

.carousel__image-container {
    position: relative;
    width: 50%;
    height: 100%;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.carousel__number {
    position: absolute;
    bottom: -4.5rem;
    right: -2.5rem;
    font-size: 200px;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--white);
    z-index: 1;
    font-family: var(--font-serif);
    letter-spacing: -4.29px;
}

.section--menu {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu__content {
    max-width: 1440;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu__image {
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.section__text {
    width: 50%;
    padding: 105px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__subtitle {
    color: var(--light-green);
    font-family: var(--font-alt);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.35px;
}

.section__title {
    max-width: 350px;
    font-family: var(--font-serif);
    font-size: 60px;
    font-weight: 300;
    color: var(--grey);
}

.section__description--menu {
    font-size: 16px;
    margin-bottom: 1rem;
    max-width: 379px;
}

.section__description--carousel {
    font-size: 16px;
    margin-bottom: 1rem;
    max-width: 359px;
}

.section__button {
    display: inline-block;
    background: var(--light-green);
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2.1px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    max-width: 223px;
    text-align: center;
}

.section__button:hover{
    background: var(--grey);
    color: var(--white);  
}

@media (max-width: 1500px) {
    .menu__image {
        padding-left: 100px;
    }
}
@media (max-width: 1170px) {
    .amenities__list {
        grid-template-columns: auto auto;
        gap: 2rem;
    }

    .section--menu {
        padding: 2rem;
    }

    .menu__content {
        flex-direction: column;
    }

    .menu__image {
        width: 100%;
        padding-left: 0px;
    }

    .section__text {
        padding: 50px;
        width: 100%;
        align-items: center;
    }

    
    .section__title, .section__description--menu{
        max-width: 100%;
    }

    .section__title{
        text-align: center;
    }

    .carousel__nav {
        position: static;
        margin-top: 1rem;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .section{
        padding: 2rem;
    }

    .carousel__content {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 2rem 1rem;
    }

    .carousel__image-container{
        width: 100%; 
    }

    .carousel__text {
        padding: 100px;
        text-align: center;
        width: 100%;
    }

    .carousel__title {
      font-size: 40px;
      max-width: 100%;
    }
  
    .carousel__description {
      max-width: 100%;
    }

    .arrow-icon {
        width: 40px;
    }  
}

@media (max-width: 768px) {

    .section{
        padding: 1rem;
    }

    .section--amenities {
      flex-direction: column;
      padding: 1rem;
    }
  
    .amenities__content {
      width: 100%;
    }
  
    .amenities__list {
        grid-template-columns: 1fr;
        gap: 2rem;
        font-size: 18px;
    }
  
    .amenities__title {
      font-size: 40px;
    }
  
    .amenities__title-container {
      flex-direction: column;
    }

    .section--menu {
      padding: 1rem;
    }

    .section__title {
        font-size: 40px;
        max-width: 350px;
    }

    .section__description--menu {
        max-width: 379px;
    }    

    .menu__image {
      width: 100%;
      height: auto;
    }
  }








